<div class='play_container'>
  <div class='playerImgContainer'></div>
  <h1 id='playerOneName'><%= @player_one_name%> <span class='badge badge-success'><%=@player_one_Hp%></span> </h1>
  <div class='PlayerTwoImgContainer'></div>
  <h1 id='playerTwoName'><%= @player_two_name%> <span class='badge badge-success'><%=@player_two_HP%></span> </h1>

  <form action = '/attack' method = 'post' class='attackButtonForm'>
    <input type = "submit" value = "Attack" class='btn btn-danger attackButton'>
  </form>
</div>

