*{
  padding: 0;
  margin: 0;
}

:root{
    --Montserrat:'Montserrat', sans-serif;
    --formradius: 15px;
    --Roboto:'Roboto', sans-serif;
}

body{
  background-image: url('./images/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Css For Nav  */
nav{
  width: 100%;
  background-color:#1F1F1F;
  height: 50px;
  display: flex;
}

nav #nav-ul{
  align-self: center;
  padding:20px;
}

nav #nav-ul li {
  font-family: var(--Montserrat);
  color: #F5EAEA;
  list-style-type: none;
  position: relative;
  top: 5px;
}

/* Css For Home Form */
#info_form {
  width: 400px;
  position: relative;
  margin: 0 auto;
  top: 200px;
  height: 200px;
  padding: 10px;
}

#info_form .input-form{
  border-radius: var(--formradius);
  padding: 30px;
  margin-bottom: 10px;
}

#info_form .input-form::placeholder{
  color: #AAA8A8;
  font-size: 12px;
  font-family: var(--Roboto);
}

#info_form .sub{
    position: relative;
    left : 100px;
    margin: 0 auto;
    background-color: red;
    width: 150px;
    transition: opacity 200ms;
    font-family: var(--Montserrat);
    font-size: 12px;
}
#info_form .sub:hover{
  opacity: 0.8;
}


/* Style For Play */
.play_container{
  background-color: #FDCF00;
  background-image: url(./images/play.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}
.plyaerImgContainer{
  width: 200px;
  height: 200px;
  position: relative;
  top: 200px;
  left: 300px;
  background-image: url(./images//goku.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
  transition: opacity cubic-bezier(0.39, 0.575, 0.565, 1);
}

.plyaerImgContainer:hover{
  opacity: 0.9;
  border: 0.5px solid;
}


#playerOneName{
  position: absolute;
  width : 200px;
  top: 460px;
  left: 300px;
  text-align: center;
  font-family: var(--Roboto);
  color: #FFFCFC;
  font-weight: bold;
  font-size: 20px;
  transition: font-size 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#playerOneName:hover{
  font-size: 22px;
}